@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
main {
  min-height: 80vh;
  font-family: "FiraGO", sans-serif;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  font-family: "Fraunces", serif;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  font-family: "Fraunces", serif;
}
h3 {
  padding: 1rem 0;
  font-family: "Fraunces", serif;
}
.rating span {
  margin: 0.1rem;
}
/* carousel */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  bottom: -1.4rem;
}

.carousel-caption h2 {
  color: #000;
}
.bg {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel a {
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
